<div class="dark:bg-zinc-900 w-full h-screen">
  <div class="container mx-auto py-8">
    <div class="flex flex-col lg:flex-row items-center">
      <!-- Lado Esquerdo - Nome do Jogo -->
      <div class="w-full lg:w-1/2 text-center lg:text-left mb-8 lg:mb-0">
        <h1 class="text-4xl font-bold text-gray-100 mb-4">GTA 5</h1>
      </div>

      <!-- Lado Direito - Imagem do Jogo -->
      <div class="w-full lg:w-1/2">
        <img
          class="mx-auto lg:ml-auto w-full lg:w-4/5 rounded-md"
          src="https://media.rawg.io/media/games/456/456dea5e1c7e3cd07060c14e96612001.jpg"
          alt="Imagem do Jogo"
        />
      </div>
    </div>

    <!-- Plataformas Disponíveis -->
    <div class="flex flex-wrap items-center">
      <h2 class="text-2xl font-bold text-gray-100 mr-2">Plataformas Disponíveis:</h2>
      <ul class="flex flex-wrap">
        <li
          class="bg-gray-800 rounded-full px-3 text-sm font-semibold text-gray-100"
        >
          PC
        </li>
        <li
          class="bg-gray-800 rounded-full px-3 text-sm font-semibold text-gray-100"
        >
          PlayStation
        </li>
        <li
          class="bg-gray-800 rounded-full px-3 text-sm font-semibold text-gray-100"
        >
          Xbox
        </li>
      </ul>
    </div>

    <!-- Descrição do Jogo -->
    <div class="text-gray-100 text-lg mb-8">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tristique
        leo risus, vel volutpat quam mattis id. Maecenas accumsan euismod eros,
        ut consectetur velit auctor vel. Aenean dignissim nunc sed felis
        dignissim, ut congue mauris accumsan. Praesent et ante in nisi eleifend
        viverra. Donec sit amet massa vel tortor pretium luctus nec eget arcu.
        Nulla eu ullamcorper leo. Donec interdum metus eget malesuada viverra.
        Nullam aliquam mi vel magna hendrerit, ut bibendum magna congue. Fusce
        id facilisis elit, non auctor sapien. Vivamus rutrum felis ut nunc
        aliquam malesuada.
      </p>
    </div>
  </div>
  <!-- Container Close-->
</div>
